
#clockDisplay {
    color:#142f44;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: solid 8px #a2bbcf;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 80%);
}